#game {
  max-width: 500px;
}
button {
  width: 36px;
  height: 36px;
}

#character-list-button {
  position: absolute;
  top: 0;
  left: 0;
}

#character-list-modal {
  background-color: white;
  z-index: 100;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  #character-list {
    overflow-y: auto;
  }

  .title {
    display: inline-block;
    font-size: 36px;
  }

  button.cancel {
    float: right;
  }
  img.sheep-head {
    width: 8%;
  }
}

#warning-message {
  // display: none;
  opacity: 0;
  pointer-events: none;
  padding: 80px 0 30px;
  background: #000;
  z-index: 20;
  font-family: sans-serif;
  position: absolute;
  bottom: 0;
  font-size: 40px;
  width: 100%;
  text-align: center;
  letter-spacing: 0.2em;
  font-weight: 800;
  color: #000;
  .sub-warning {
    margin-top: 20px;
    color: #ccc;
  }

  .outside-fire {
    animation: burningAnimation 1s ease-in-out infinite alternate;
  }

  .inside-fire {
    animation: burningAnimation 0.65s ease-in-out infinite alternate;
  }

  &.fade-in-animation {
    animation: fadeIn 1s;
    opacity: 1;
  }

  &.fade-out-animation {
    animation: fadeOut 0.5s;
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes burningAnimation {
  0% {
    text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85, -20px -20px 40px #ffae34, 20px -40px 50px #ec760c,
      -20px -60px 60px #cd4606, 0 -80px 70px #973716, 10px -90px 80px #451b0e;
  }
  100% {
    text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #fefcc9, -20px -20px 40px #feec85, 22px -42px 60px #ffae34,
      -22px -58px 50px #ec760c, 0 -82px 80px #cd4606, 10px -90px 80px #973716;
  }
}

html,
body {
  overflow: hidden;
  overscroll-behavior-y: contain;
  position: relative;
  -webkit-touch-callout: none; /* Safari */
  -webkit-user-select: none; /* Chrome */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

canvas {
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
}
