#game {
  max-width: 500px;
}

html,
body {
  overscroll-behavior-y: contain;
}

canvas {
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
}

h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

div {
  font-size: 2rem;
}
