#game {
  max-width: 500px;
}

html,
body {
  overflow: hidden;
  overscroll-behavior-y: contain;
  position: relative;
  -webkit-touch-callout: none; /* Safari */
  -webkit-user-select: none; /* Chrome */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

canvas {
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
}

span {
  font-size: 2rem;
}
